body {
	margin: 40px;
	padding: 40px;
	font-family: 'Waiting for the Sunrise', cursive;
	color: #ffffff ;
	background-color: #000000;
}

audio {
	width: 250px;
    height: 20px;
}

h1 {
	font-size: 300%;
}

.heading1 {
	margin:25px
	padding:25px;
	text-align: center;
}

h3 {
	font-size: 140%;
	font-weight: 10;
	line-height: 80%;
}
.heading3 {
	margin:40px;
	padding:30px;
	text-align: center;
}

p {
	font-size: 150%;
	text-align: center;
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
}


.expand-column-wrapper {
	text-align: center;
	
	
}

.expand-column-wrapper .column {
  transition: all 0.5s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin: 9px;

}

.expand-column-wrapper .column:hover {
   transform: scale(1.2);
   transition: transform .2s; 
}

.expand-column-wrapper .column:hover .expand-column-content {
  opacity: 1;
}

.expand-column-wrapper .expand-column-content {
  color: #fefefe;
  font-weight: bold;
  opacity: 0
}


.expand-column-wrapper .column:nth-of-type(1) {
  background: url("part1 (1).jpg") center center no-repeat;
  height: 500px;
  background-size: cover;
}

.expand-column-wrapper .column:nth-of-type(2) {
  background: url("part2 (1).jpg") center center no-repeat;
  height: 500px;
  background-size: cover;
}

.expand-column-wrapper .column:nth-of-type(3) {
  background: url("part3 (1).jpg") center center no-repeat;
  height: 500px;
  background-size: cover;
}

.expand-column-wrapper .column:nth-of-type(4) {
  background: url("part4.jpg") center center no-repeat;
  height: 500px;
  background-size: cover;
}
